<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Scene</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveScene()">
    <ion-item>
      <ion-label position="floating">Judul</ion-label>
      <ion-input type="text" [(ngModel)]="judul" name="judul" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Deskripsi</ion-label>
      <ion-textarea rows="4" [(ngModel)]="deskripsi" name="deskripsi" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gambar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tujuan Instansi</ion-label>
      <ion-input type="text" [(ngModel)]="instansi" name="instansi" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Simpan</ion-button>
  </form>
</ion-content>
