<style>
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .scene-card {
    width: 90%;
    margin: 10px;
  }

  .image {
    width: 100%;
    padding: 10px;
  }
</style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card color="primary" class="scene-card">
      <div class="image">
        <ion-img [src]="kejadian.gambar"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>{{ kejadian.judul }}</ion-card-title>
        <div class="like">
          <ion-button>
            <ion-icon name="chatbubble"></ion-icon>
            <ion-text>{{ kejadian.total_komentar }}</ion-text>
          </ion-button>
          <ion-button (click)="like()">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-text>{{ kejadian.jumlah_like }}</ion-text>
          </ion-button>
          <ion-button (click)="dislike()">
            <ion-icon name="thumbs-down"></ion-icon>
            <ion-text>{{ kejadian.jumlah_dislike }}</ion-text>
          </ion-button>
        </div>
        <ion-card-subtitle>Author : {{ kejadian.author }}</ion-card-subtitle>
        <ion-card-subtitle
          >Tujuan : {{ kejadian.tujuan_instansi }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>{{ kejadian.deskripsi }}</ion-card-content>
    </ion-card>
    <ion-card *ngFor="let komen of kejadian.komentar; let i = index">
      <ion-card-header>
        {{ komen.fullname }}: {{ komen.pesan }}
        <ion-button (click)="likeComment(i)">
          <ion-icon name="thumbs-up"></ion-icon>
          <ion-text>{{ komen.jumlah_like }}</ion-text>
        </ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
