<style>
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .scene-card {
    width: 90%;
    margin: 10px;
  }

  .image {
    width: 100%;
    padding: 10px;
  }
</style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card
      *ngFor="let kejadian of kejadians; let i = index"
      color="primary"
      class="scene-card"
    >
      <div class="image">
        <ion-img [src]="kejadian.gambar"></ion-img>
      </div>
      <ion-card-header>
        <ion-item routerLink="/detail/{{kejadian.id}}">
          <ion-card-title>{{ kejadian.judul }}</ion-card-title>
        </ion-item>
        <div class="like">
          <ion-button>
            <ion-icon name="chatbubble"></ion-icon>
            <!-- <ion-text>{{ kejadian.komentar.length }}</ion-text> -->
          </ion-button>
          <ion-button (click)="like(kejadian.id)">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-text>{{ kejadian.jumlah_like }}</ion-text>
          </ion-button>
          <ion-button (click)="dislike(kejadian.id)">
            <ion-icon name="thumbs-down"></ion-icon>
            <ion-text>{{ kejadian.jumlah_dislike }}</ion-text>
          </ion-button>
        </div>
        <ion-card-subtitle>Author : {{ kejadian.author }}</ion-card-subtitle>
        <ion-card-subtitle
          >Tujuan : {{ kejadian.tujuan_instansi }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>{{ kejadian.deskripsi }}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
